@media (min-width: 320px) {
  .generate-category-avatar {
    height: 20px;
    width: 20px;
    padding: 0 0;
  }

  .expense-name {
    font-size: 12px;
  }

  .expenses-to-categories {
    font-size: 14px;
  }

  .category-expense-name {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  /* CATEGORIES INDEX */

  .grid-20 {
    display: none;
  }

  .category-card {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: aliceblue;
    border-radius: 0;
  }

  .mobile-header {
    display: flex;
  }

  .desktop-header {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .everest-logo {
    height: 40px;
    margin-top: 20px;
  }

  .mobile-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 50%;
    padding: 0;
  }

  .nav-sign-out {
    margin-top: 15px;
  }

  .inner-layer {
    width: 100%;
    height: 100%;
  }

  .allCategories {
    width: 90%;
    margin: auto;
    height: 58vh;
  }

  .eachCategory {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    background-color: white;
    width: 95%;
    padding: 15px 0;
  }

  .category-limit {
    display: none;
  }

  .bal {
    text-align: center;
  }

  .add-category-btn {
    padding: 5px 10px;
    border-radius: 9px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(123, 123, 123);
    margin-right: 10px;
  }

  .plus-and-text {
    font-size: 15px;
  }

  .date-today-div {
    width: 95%;
    font-size: 14px;
    margin-top: 10px;
    margin-top: 50px;
  }

  .category-details {
    width: 90%;
    display: grid;
    margin: auto;
    float: right;
  }

  .category-name-date {
    display: flex;
    gap: 0;
  }

  .delete-edit {
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
  }

  .edit-pen {
    height: 10px;
    padding: 7px;
  }

  .limit-balance {
    display: block;
    width: 50%;
    margin: auto;
  }

  .cat-name-link {
    align-items: center;
    width: 65%;
    font-size: 14px;
    font-weight: bold;
  }

  .category_delete_botton {
    background-color: aliceblue;
    border: 0;
    padding: 7px;
    border-radius: 10px;
    color: rgb(173, 173, 173);
    color: rgb(110, 110, 110);
  }

  .generate-category-avatar {
    position: relative;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    height: auto;
  }


  .notice {
    font-size: 11px;
    position: absolute;
    bottom: 82vh;
  }

  .created {
    display: none;
    font-size: 11px;
  }

  .categories-link-page {
    padding: 5px 0;
  }


  /* EXPENSES INDEX */

  .allCategoryExpenses {
    height: 60vh;
  }

  .eachExpense {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    background-color: white;
    width: 95%;
    padding: 15px 0;
  }

  .expense-name {
    align-content: center;
  }

  .expense-amount {
    font-size: 14px;
  }

  .expense-and-total-amount {
    width: 80%;
    margin: auto;
    padding: 15px 20px;
    grid-template-columns: 30% 50% 20%;
    gap: 3%;
  }

  .expenses-to-categories {
    display: block;
    float: right;
    width: 40%;
    text-decoration: none;
    padding: 5px 0;
    font-weight: bold;
  }

  .add-expense-div {
    width: 100%;
  }

  .category-date {
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
  }

  .category-expense-amount,
  .limit-reached {
    text-align: left;
    font-size: 13px;
    color: grey;
  }

  .add-expense-btn {
    display: none;
  }

  .no-categories {
    width: 90%;
    margin: auto;
  }

  .limit-reached {
    text-align: center;
  }

  .mobile-date {
    display: none;
  }

  /* FORM DIV */

  .form-div {
    background-color: white;
    width: 60%;
    padding: 30px;
    margin: auto;
    margin-top: 20vh;
  }

  .form-input {
    width: 100%;
  }

  .form-ribbon {
    font-size: 16px;
  }

  .new-expense-ribbon {
    font-weight: lighter;
  }

  .submission-btn-div {
    flex-direction: column;
    align-content: center;
    margin: auto;
    gap: 15px;
  }

  .submit-button {
    display: inline-block;
    width: auto;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
}
