<header>
  <nav class="nav">
    <ul>
      <li><%= link_to 'Home', categories_path, class: 'back-sign' %></li>
      <li>Overview</li>
      <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-sign-out" %></li>
    </ul>
  </nav>
</header>
