
<main>
  <div class='login_signup'>
    <p class='session'><%= link_to "Log in", new_user_session_path, class: 'session_text_login' %> </p>
    <p class='session register'><%= link_to "Sign up", new_user_registration_path, class: 'session_text_signup' %> </p>
  <div>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</main>