.category-index, .expense-index {
  display: flex;
  background-color: mistyrose;
  background-color: #ffd6c9;
  height: 100vh;
  align-items: center;
}

.category-index p {
  margin: 0;
}

.category-card {
  display: grid;
  grid-template-columns: 75% 25%;
  height: 85vh;
  width: 80vw;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 30px;
}

.grid-80 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.grid-20 {
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.category-details, .expense-details {
  display: flex;
  justify-content: space-around;
}

.expense-details {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.allCategories {
  align-items: center;
  height: 65%;
  width: 90%;
  margin: auto;
  overflow-y: auto;
}

.eachCategory {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 0;
  margin-bottom: 20px;
  align-items: center;
}

.eachExpense {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 0;
  margin-bottom: 30px;
  align-items: center;
}

.eachCategoryDetails {
  width: 90%;
  margin: auto;
  
}

.delete-edit {
  display: flex;
  justify-content: space-around;
}

.category-name-date {
  display: flex;
  gap: 40px;
}

.category-date {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.limit-balance {
  color: grey;
}


.category_delete_botton {
  background-color: aliceblue;
  border: 0;
  padding: 10px;
  border-radius: 7px;
  color: rgb(173, 173, 173);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav ul{
  display: flex;
  width: 80%;
  margin: 30px auto;
  list-style: none;
  justify-content: space-between;
}

/* Mouse Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffb6c1, #c6e6ca); /* Pink Rose to Mint Green */
  border-radius: 5px;
}

/* Mouse Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#c6e6ca, #ffb6c1); /* Mint Green to Pink Rose */
}


.mini-add-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px dashed rgb(237, 230, 230) ;
}

.type-and-number {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  background-color: aliceblue;
  /* background-color: #fdeff1; */
  /* background-color: #feebee; */
  padding: 10px;
  border-radius: 5px;

}

.latest-categories {
  margin-top: 30px;
}

.fade-text {
  color: rgb(147, 145, 145);
}

.spent {
  font-size: 14px;
}
