.nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.nav-main {
  padding: 10px;
  background-color: pink;
  border-radius: 50%;
  transition: 1s;
}

.nav-main:hover {
  background-color: aliceblue;
}

.mobile-header {
  display: none;
}

.nav ul {
  display: flex;
  list-style: none;
  align-self: flex-end;
  justify-content: space-between;
}

.home-sign {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 1s;
}

.home-sign:hover {
  color: rgb(2, 170, 2);
  font-weight: bold;
  text-decoration: underline;
}

.nav-sign-out {
  text-decoration: none;
  border: 0;
  color: white;
  padding: 5px;
  background-color: rgb(41, 187, 82);
  border-radius: 15px;
  cursor: pointer;
}

.add-new-category {
  text-decoration: none;
  border: 0;
  color: white;
  padding: 5px 10px;
  background-color: rgb(41, 187, 82, 0.7);
  border-radius: 10px;
}

#huntr-react-container-2 {
  display: none;
}

/* Mouse Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffb6c1, rgb(255, 137, 255)); /* Pink Rose to Mint Green */
  border-radius: 5px;
}

/* Mouse Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(255, 137, 255), #ffb6c1); /* Mint Green to Pink Rose */
}

@media (min-width: 1024px) {
  .nav {
    grid-template-columns: 50% 50%;
  }

  .quick-stats {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .nav ul {
    flex-direction: column;

    /* background-color: red; */
    gap: 5px;
    align-items: flex-end;
  }

  .nav-sign-out {
    width: 70px;
    padding: 5px;
  }

  .home-sign {
    font-size: 15px;
  }
}
