.session-body {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url('/assets/bubbles.png');
  height: 100vh;
  background-color: wheat;
  object-fit: cover;
  align-items: center;
}

.session-page {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80vw;
  height: 80vh;
  margin: auto auto;
  background-color: #fff;
}

.budget-lady-image {
  display: flex;
  margin: auto;
}

.error-ul {
  margin: 0;
}

.session-image {
  margin: 10% 0;
  height: 80%;
  width: 90%;
}

.session-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
}

h2 {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 40px;
}

.session-form-input {
  padding: 10px 5px;
  outline: none;
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom: 24px;
}

.session-sign-up {
  text-decoration: none;
  color: white;
  padding: 7px 10px;
  background-color: rgb(0, 46, 214);
  background-color: rgb(2, 196, 57);
  border-radius: 15px;
  border: 0;
  font-size: 16px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.no-account {
  font-size: 14px;
  text-align: center;
}

.sign-up-from-login {
  font-size: 17px;
  text-decoration: none;
  color: rgb(6, 224, 6);
  font-weight: bold;
}

.auth-btn {
  margin-top: 15px;
}

.auth-btn-div {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .session-image {
    width: 95%;
    margin: 0 auto;
  }

  .budget-lady-image {
    width: 90%;
    margin: auto;
  }

  .session-page {
    grid-template-columns: 100%;
    height: 85vh;
  }

  .login-ribbon {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .session-form-input {
    padding: 7px 5px;
    margin-bottom: 10px;
  }

  .sign-up-ribbon {
    margin-top: 0;
  }
}

@media (min-width: 525px) and (max-width: 1024px) {
  .session-image {
    height: 220px;
    width: auto;
    align-self: center;

    /* margin: 0 auto; */
  }

  .budget-lady-image {
    display: flex;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .session-image {
    margin: 0 auto;
  }

  .session-page {
    grid-template-columns: 60% 40%;
  }

  .login-ribbon {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .no-account {
    font-size: 17px;
  }
}
