.splash {
  height: 100vh;
  display: flex;
  background-image: url(/assets/bubbles.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.app-n-logo {
  padding-top: 40px;
}

.logo-main {
  padding: 20px;
  background-color: red;
  background-color: pink;
  border-radius: 50%;
}

.instruction-icon {
  margin-right: 20px;
}

.image {
  width: 50vw;
  height: 80vh;
  margin-top: 10vh;
}

.login_signup {
  text-align: center;
  height: 72vh;
  width: 50vw;
  margin: auto;
  margin-top: 15vh;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.login-wrapper {
  width: 60%;
  justify-content: center;
  gap: 30px;
  margin: auto;
  text-align: center;
}

.login-wrapper h1 {
  font-size: 45px;
  font-weight: 200;
  color: rgb(55, 124, 74);
}

.login-wrapper p {
  font-size: 18px;
  font-weight: 200;
  color: rgb(55, 124, 74);
}

.login-wrapper ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  padding-left: 70px;
  font-size: 18px;
  text-align: left;
  font-weight: 100;
  line-height: 40px;
  align-content: center;
  justify-content: center;
}

.login-wrapper ul li {
  font-weight: 100;
  vertical-align: middle;
}

.login-wrapper ul li div {
  display: flex;
}

.links-signup-div {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 30px;
  margin: auto;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .login_signup {
    width: 90vw;
  }

  .login-wrapper {
    width: 90%;
    margin: auto;
  }

  .login-wrapper ul li {
    font-size: 13px;
    font-weight: bold;
  }

  .login-wrapper ul {
    width: 90%;
    margin: auto;
    padding: 0;
    line-height: 30px;
  }

  .instruction-icon {
    margin-right: 20px;
    height: 20px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .login-wrapper ul li {
    font-size: 17px;
    font-weight: bold;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login-wrapper ul li {
    font-size: 24px;
    font-weight: lighter;
  }
}
