<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Emoji:</strong>
    <%= category.emoji %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= category.limit %>
  </p>

</div>
