<div id="<%= dom_id category %>">
  <p>
  <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
  </p>

  <p>
    <%= category.emoji %>
  </p>

  <p>
    <%= category.limit %>
  </p>

</div>
