<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <div class="inner-layer">
        <%= render partial: 'shared/nav' %>
        <div class="form-div">
          <h3 class="form-ribbon">Editing <%= @category.name %>  </h3>
          <%= render "form", category: @category %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/grid-20' %>
  </div>
</div>



