<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-sign-out" %>

