<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <%= render partial: 'shared/nav' %>
      <%= render "form", category: @category %>
      <%= link_to "Back to categories", categories_path %>
    </div>
    <%= render partial: 'shared/grid-20' %>
  <div>
</div>

