.eachExpense {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 0;
  margin-bottom: 30px;
  align-items: center;
}