<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <div class="inner-layer">
        <%= render partial: 'shared/nav' %>
        <div class="form-div">
          <h3>Editing expense</h3>
          <%= render "form", expense: @expense %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/grid-20' %>
  </div>
</div>
